<!DOCTYPE html>
<html>
 <head>
	<title>Bookersindex</title>
 </head>
   <body>
	<h1>
	ようこそBookersへ！
	</h1>
	<p class="index-text">
	Bookersでは、さまざまな書籍に関するあなたの意見や</p>
	<p class="index-text">印象を共有し交換することができます</p>

	<a class="start" href="blogs">start</a>
	</body>
</html>